body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
  max-width: 100%;
  height: 75vh;
  background-image: url(/images/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color:  rgba(29, 27, 27, 0.706);
    overflow: hidden;
    color:white;
    /* position: fixed; 
    top: 0; 
    width: 100%; */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h3 {
    margin: 0; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px; /* Adjust margin as needed to separate the links */
  }
  
  nav a {
    text-decoration: none;
    color: white; /* Adjust link color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .main-ctr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 200px;
    text-align: center;
    color: white;
  }

  .main-ctr h1{
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bolder;
  }

  .main-ctr p{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    padding: 16px 0;
    line-height: 0;
  } 
  
  .main-ctr button{
    padding: 8px;
    font-size: 14px;
    background-color: greenyellow;
  }

  .about{
    margin-top: 250px;
  
  }

  .about h3{
    text-align: center;
  }

  .what-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    gap: 1.5rem;
  }
  .w-details{
    display: flex;
    flex-direction: column;
    text-align: left; 
  }
  .w-details h4{
  margin-bottom: 0;
  font-size: 20px;
  }
  .w-details p{
    text-align: left;
   margin-top: 20px;
   font-size: 18px; 
  }

  .who-we-are{
    background-color: #000000d7;
    width: 550px;
    height: 300px;
    float: right;
    margin-top: 24px;
  }
  section .who-ctr{
    padding: 8px ;
    color: #ffffff;
  }

  .partners{
    margin-top: 450px;
    font-size: 24px;
    text-align: center;
  }

  span{
    color: rgb(79, 207, 79);
  }

  .patners-logo{
    display: flex;
    justify-content: center;
    gap: 4.5rem;
  }

  .patners-logo img{
    width: 100px;
  }

  .contact-ctr{
    background-color:rgb(152, 236, 68);
    width: 920px;
    padding: 12px 28px;
    margin-top: 72px;
    height: 400px;
  }

  .contact-ctr h3{
    color: #ffffff;
    font-size: 32px;
    margin: 8px;
  }

  .contact-ctr p{
    color: #ffffff;
    font-size: 22px;
    margin: 12px;
  }

  form{
     margin: 4px 0 12px 24px;
  }
  input {
    width: 820px;
    margin: 0 0 18px 0px;
    padding: 6px 3px;
  }

  button{
    width:820px ;
  }
  input, label, button {
    font-size: 22px;
    font-weight: 300;
    color: white;
  }

  input{
    font-size: 14px;
    border: none;
    border-top: 2px solid black;
    border-radius: 4px;
  }
